@import './styles/variables';
@import './styles/type';

:global {
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }

  body {
    color: $gray-dark;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
  }
}
