@import '../../styles/variables';
@import '../../styles/mixins';

.button {
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
  @include transition(all .2s ease-in-out);
  border: $input-btn-border-width solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.danger { @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border); }
.info { @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border); }
.primary { @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); }
.secondary { @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border); }
.success { @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border); }
.warning { @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border); }

.outlineDanger { @include button-outline-variant($btn-danger-bg); }
.outlineInfo { @include button-outline-variant($btn-info-bg); }
.outlinePrimary { @include button-outline-variant($btn-primary-bg); }
.outlineSecondary { @include button-outline-variant($btn-secondary-border); }
.outlineSuccess { @include button-outline-variant($btn-success-bg); }
.outlineWarning { @include button-outline-variant($btn-warning-bg); }
