@import 'fain/styles/base';
@import 'foundation-sites/scss/typography/base';

.anchor {
  background-color: transparent;
  color: $anchor-color;
  cursor: pointer;
  line-height: inherit;
  text-decoration: $anchor-text-decoration;

  &:hover,
  &:focus {
    color: $anchor-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }
}
