@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  @include clearfix;
  @include media-breakpoint-up(sm) {
    @include border-radius($navbar-border-radius);
  }

  padding: $navbar-padding-y $navbar-padding-x;
  position: relative;
}

.navbarBrand {
  @include hover-focus {
    text-decoration: none;
  }

  float: left;
  font-size: $font-size-lg;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: $navbar-brand-padding-y;
  padding-top: $navbar-brand-padding-y;
}

.navbarBrandlight {
  @include hover-focus {
    color: $navbar-light-active-color;
  }

  color: $navbar-light-active-color;
}

.navbarNavItem {
  float: left;

  & + .navbarNavItem {
    margin-left: 1rem;
  }
}

.navbarNavLink {
  display: block;
  padding-bottom: .425rem;
  padding-top: .425rem;

  & + .navbarNavLink {
    margin-left: 1rem;
  }
}

.navbarNavLinkLight {
  @include hover-focus {
    color: $navbar-light-hover-color;
  }

  color: $navbar-light-color;
}
