@import './base';

:global {
  html {
    box-sizing: border-box;
    font-size: $global-font-size;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    background: $body-background;
    color: $body-font-color;
    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    line-height: $global-lineheight;
    margin: 0;
    padding: 0;

    @if ($body-antialiased) {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }
}
