@import '../styles/variables';

.faded {
  background-color: $gray-lightest !important; // sass-lint:disable-line no-important
}

.primary {
  background-color: $brand-primary !important; // sass-lint:disable-line no-important
}

.success {
  background-color: $brand-success !important; // sass-lint:disable-line no-important
}

.info {
  background-color: $brand-info !important; // sass-lint:disable-line no-important
}

.warning {
  background-color: $brand-warning !important; // sass-lint:disable-line no-important
}

.danger {
  background-color: $brand-danger !important; // sass-lint:disable-line no-important
}

.inverse {
  background-color: $brand-inverse !important; // sass-lint:disable-line no-important
}
