@import '~floccus_ui/styles/variables';
@import '~floccus_ui/styles/mixins';

.input {
  font: inherit;
  margin: 0;
  overflow: visible;
}

.formCheck {
  display: block;
  margin-bottom: ($spacer * .75);
  position: relative;

  + .formCheck {
    margin-top: -.25rem;
  }
}

.formCheckLabel {
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 1.25rem;
}

.formCheckInput {
  composes: input;
  margin-left: -1.25rem;
  margin-top: .25rem;
  position: absolute;

  &:only-child {
    position: static;
  }
}

.formControl {
  @include border-radius($input-border-radius);
  @include box-shadow($input-box-shadow);
  @include form-control-focus;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  background-clip: padding-box;
  background-color: $input-bg;
  background-image: none;
  border: $input-btn-border-width solid $input-border-color;;
  box-sizing: border-box;
  color: $input-color;
  composes: input;
  display: block;
  font-size: $font-size-base;
  line-height: $input-line-height;
  padding: $input-padding-y $input-padding-x;
  width: 100%;

  // Unstyle the caret on `<select>`s in IE10+
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $input-color-placeholder;
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &:disabled {
    cursor: $cursor-disabled;
  }
}

.formGroup {
  margin-bottom: $form-group-margin-bottom;
}

.formLabel {
  display: inline-block;
  margin-bottom: .5rem;
  touch-action: manipulation;
}
