@import 'fain/styles/base';

.button {
  @include disable-mouse-outline;

  appearance: none;
  background: transparent;
  border: 0;
  border-radius: $global-radius;
  line-height: 1;
  padding: 0;
}
